*.vsixd
.vs/C2BR.GestorEducacao/FileContentIndex/e487f611-bac1-4021-b75f-f4a6e22c9071.vsidx
.vs/C2BR.GestorEducacao/FileContentIndex/198a958e-2e39-45de-9818-eb0d563f6511.vsidx
C2BRGestorEducacao/
.vs/C2BR.GestorEducacao/FileContentIndex/f34d47d1-3537-46ec-bea1-256e13148054.vsidx
.vs/C2BR.GestorEducacao/FileContentIndex/49d263ab-dee4-420e-b35b-8013770e4ae9.vsidx
*.vsidx
