################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.cache
*.suo
*.sln
*.lock
*.bin
*.json
*.bin
\obj\Debug\*.cache