<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="GestorEntities" connectionString="metadata=res://*/MSSQL.GestorEntities.csdl|res://*/MSSQL.GestorEntities.ssdl|res://*/MSSQL.GestorEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.88.2\SQLEXPRESS;Initial Catalog=BDPGETONABLA  ;Persist Security Info=True;User ID=gestoradmin;Password=gestoradmin;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength=""></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
   
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
