<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="C2BR.GestorEducacao.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
  </configSections>

    <connectionStrings>
    <remove name="LocalSqlServer"/>
      <!-- acesso a notebook2-->
      <!--
      <add name="GestorEntities" connectionString="metadata=res://*/MSSQL.GestorEntities.csdl|res://*/MSSQL.GestorEntities.ssdl|res://*/MSSQL.GestorEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.23;Initial Catalog=BDHO_XX_Geral;Persist Security Info=True;User ID=aestevam;Password=Brasil2020;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
      <add name="BasePortal" connectionString="metadata=res://*/MSSQLPORTAL.BasePortal.csdl|res://*/MSSQLPORTAL.BasePortal.ssdl|res://*/MSSQLPORTAL.BasePortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source192.168.0.23;Initial Catalog=BDHO_XX_Geral;Persist Security Info=True;User ID=aestevam;Password=Brasil2020;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
      <add connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" name="LocalSqlServer" providerName="System.Data.SqlClient"/>
      -->


      <!-- Funcionando LOCAL Tabela Desenvolvimento-->
      <!--
    <add name="GestorEntities" connectionString="metadata=res://*/MSSQL.GestorEntities.csdl|res://*/MSSQL.GestorEntities.ssdl|res://*/MSSQL.GestorEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-MA42K27\SQLEXPRESS;Initial Catalog=BDHO_XX_Geral;Persist Security Info=True;User ID=UMC202HD;Password=Brasil3030;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="BasePortal" connectionString="metadata=res://*/MSSQLPORTAL.BasePortal.csdl|res://*/MSSQLPORTAL.BasePortal.ssdl|res://*/MSSQLPORTAL.BasePortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-MA42K27\SQLEXPRESS;Initial Catalog=BDHO_XX_Geral;Persist Security Info=True;User ID=UMC202HD;Password=Brasil3030;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" name="LocalSqlServer" providerName="System.Data.SqlClient"/>
    -->
    <!-- Sistema Saúde PMMatupã-->    
    <add name="GestorEntities" connectionString="metadata=res://*/MSSQL.GestorEntities.csdl|res://*/MSSQL.GestorEntities.ssdl|res://*/MSSQL.GestorEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-MA42K27\SQLEXPRESS;Initial Catalog=BDGS_MT_PMMatupa;Persist Security Info=True;User ID=UMC202HD;Password=Brasil3030;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="BasePortal" connectionString="metadata=res://*/MSSQLPORTAL.BasePortal.csdl|res://*/MSSQLPORTAL.BasePortal.ssdl|res://*/MSSQLPORTAL.BasePortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-MA42K27\SQLEXPRESS;Initial Catalog=BDGS_MT_PMMatupa;Persist Security Info=True;User ID=UMC202HD;Password=Brasil3030;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" name="LocalSqlServer" providerName="System.Data.SqlClient"/>
    

    <!-- Sistema Saúde AP PMSantana-->
    <!--
    <add name="GestorEntities" connectionString="metadata=res://*/MSSQL.GestorEntities.csdl|res://*/MSSQL.GestorEntities.ssdl|res://*/MSSQL.GestorEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-MA42K27\SQLEXPRESS;Initial Catalog=BDGS_AP_PMSantana;Persist Security Info=True;User ID=UMC202HD;Password=Brasil3030;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="BasePortal" connectionString="metadata=res://*/MSSQLPORTAL.BasePortal.csdl|res://*/MSSQLPORTAL.BasePortal.ssdl|res://*/MSSQLPORTAL.BasePortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-MA42K27\SQLEXPRESS;Initial Catalog=BDGS_AP_PMSantana;Persist Security Info=True;User ID=UMC202HD;Password=Brasil3030;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" name="LocalSqlServer" providerName="System.Data.SqlClient"/>
    -->
    

  </connectionStrings>
  <system.web>
    <sessionState timeout="300"/>
    <globalization enableClientBasedCulture="false" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="iso-8859-1" responseHeaderEncoding="utf-8" resourceProviderFactoryType="string" enableBestFitResponseEncoding="true" uiCulture="pt-BR" culture="pt-BR"/>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="DevExpress.XtraReports.v12.1.Web, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Printing.v12.1.Core, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxEditors.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Utils.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxSpellChecker.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.RichEdit.v12.1.Core, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.SpellChecker.v12.1.Core, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Office.v12.1.Core, Version=12.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="/Login.aspx" defaultUrl="/Default.aspx" slidingExpiration="true"></forms>
    </authentication>
    <customErrors mode="Off" defaultRedirect="/Ooops.aspx"></customErrors>
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <machineKey validationKey="26D973A03CB163D074F8EFB15530D55CA29854C0F330D39E0C17A075E272529BEAFB80C97A5D9E174D6467EC559615BF3517BFEB05E9586AD8C058A48200F515" decryptionKey="E2838DAB21092178898C7C88CE8F31AB443474CD2266C4E3C513BFCC3A63DAEB" validation="SHA1" decryption="AES"/>
    <httpHandlers>
      <add verb="*" path="ImagemCodigoBarra.ashx" validate="false" type="BoletoNet.ImagemCodigoBarraHandler"/>
      <add verb="*" path="ManterEnderecoSN.ashx" validate="false" type="C2BR.GestorEducacao.UI.Library.Componentes.ManterEnderecoSN"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <httpRuntime executionTimeout="3600" maxRequestLength="10250"/>
  </system.web>
  <appSettings>
    <add key="Testes" value="Não"/>
    <!--PE -->
    <add key="GoogleMapsKey" value="AIzaSyCzqsx6MWJ7ylPNiXxYgBoxzq2euAMotf0"/>
    <add key="databaseName" value="Gestor"/>
    <add key="BackupSetName" value="Cópia de Segurança GESTOR"/>
    <!-- Acesso Notebook 2-->
    <!--
    <add key="BackupConnectionString" value="Data Source=192.168.0.23;Initial Catalog=BDHO_XX_Geral;Persist Security Info=True;User ID=aestevam;Password=Brasil2020;MultipleActiveResultSets=True"/>
    <add key="BDPRGEConnectionString" value="Data Source=192.168.0.23;Initial Catalog=BDHO_XX_Geral;Persist Security Info=True;User ID=aestevam;Password=Brasil2020;MultipleActiveResultSets=True"/>
    -->
    <!-- Acesso local Banco Desenvolvimento-->
    <!--
    <add key="BackupConnectionString" value="Data Source=DESKTOP-MA42K27\SQLEXPRESS;Initial Catalog=BDHO_XX_Geral;Persist Security Info=True;User ID=UMC202HD;Password=Brasil3030;MultipleActiveResultSets=True"/>
    <add key="BDPRGEConnectionString" value="Data Source=DESKTOP-MA42K27\SQLEXPRESS;Initial Catalog=BDHO_XX_Geral;Persist Security Info=True;User ID=UMC202HD;Password=Brasil3030;MultipleActiveResultSets=True"/>
    -->
    <!-- Sistema Saúde PMMatupã-->
    
    <add key="BackupConnectionString" value="Data Source=DESKTOP-MA42K27\SQLEXPRESS;Initial Catalog=BDGS_MT_PMMatupa;Persist Security Info=True;User ID=UMC202HD;Password=Brasil3030;MultipleActiveResultSets=True"/>
    <add key="BDPRGEConnectionString" value="Data Source=DESKTOP-MA42K27\SQLEXPRESS;Initial Catalog=BDGS_MT_PMMatupa;Persist Security Info=True;User ID=UMC202HD;Password=Brasil3030;MultipleActiveResultSets=True"/>
    

    <!-- Sistema Saúde PMSantana-->
    <!--
    <add key="BackupConnectionString" value="Data Source=DESKTOP-MA42K27\SQLEXPRESS;Initial Catalog=BDGS_AP_PMSantana;Persist Security Info=True;User ID=UMC202HD;Password=Brasil3030;MultipleActiveResultSets=True"/>
    <add key="BDPRGEConnectionString" value="Data Source=DESKTOP-MA42K27\SQLEXPRESS;Initial Catalog=BDGS_AP_PMSantana;Persist Security Info=True;User ID=UMC202HD;Password=Brasil3030;MultipleActiveResultSets=True"/>
    -->


    
    <add key="telarecepcao" value="../8200_CtrlClinicas/8250_RecepcaoEncaminhamento/Cadastro.aspx"/>
    <add key="ChartImageHandler" value="storage=file;timeout=3600;dir=C:\inetpub\wwwroot\TempImages\;"/>
    <add key="URLPortalRelacionamento" value="http:// "/>
    <!-- Quantidade maxima de registros permitida por requisicao HTTP -->
    <add key="aspnet:MaxHttpCollectionKeys" value="24000"/>
    <!-- Informar a data de validade - fica avisando ate chegar a data depois trava o acesso -->
    <add key="DataValidadeIrregular" value="31/12/2022"/>
    <!-- Mostra a tela de manutenção (Library/Img) quando estiver como true - padrão = false-->
    <add key="SistemaEmManutencao" value="false"/>
  </appSettings>
  <applicationSettings>
    <C2BR.GestorEducacao.UI.Properties.Settings>
      <setting name="LogActive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>C:\</value>
      </setting>
    </C2BR.GestorEducacao.UI.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <location path="GEDUC">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <handlers>
      <remove name="UrlRoutingHandler"/>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.1, Version=12.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme=""/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <settings rightToLeft="false"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
</configuration>
